body {
    background-color: #151515;
}

span, form, h3, label {
    color: aliceblue;
}

/* Validation */

input:invalid{
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}


.modal-content {
    height: 75%;
    border-radius: 4px;
    position: relative;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: #151515;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}